<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>イカアーカイブ</title>
  <link rel="stylesheet" href="./dist/style.css">
</head>
<body id="js-view-app">
  <div v-show="isFirstTime" class="view-intro">
    <h1 class="ft-ika">イカアーカイブ</h1>
    <div class="wrap">
      <p><span class="ft-ika">ガチマッチ</span>の<span class="ft-ika">ウデマエ</span>を記録できるサービスだぞ！</p>
      <p>1戦ごとに勝敗を記録して、グラフを眺めてニヤニヤしたり、苦手なステージを把握したり、連敗の兆候を感じ取ったりしよう！</p>
    </div>

    <h2 class="ft-ika">チュウイ</h2>
    <div class="wrap">
      <p>記録できるデータは直近の{{limit}}戦分で、データは"このブラウザに"保存されます。(localStorage)</p>
      <p>なので、うまく動かない環境もあるかもしれません・・。</p>
      <p>まぁそんな適当な感じで<span class="ft-ika">イカ、よろしく〜〜〜</span></p>
    </div>

    <button class="intro-button ft-ika" v-on="click: onClickOk">わかった！</button>

    <footer class="footer">&copy; 2015 <a href="https://twitter.com/leader22" target="_blank">leader22</a></footer>
  </div>

  <div v-show="!isFirstTime" class="view-app">
    <h1 class="ft-ika">イカアーカイブ</h1>
    <ul class="tab ft-ika"><!--
      --><li class="tab-item" v-class="{ 'is-active': activePane === 'record' }" v-on="click: showPane('record')">キロク</li><!--
      --><li class="tab-item" v-class="{ 'is-active': activePane === 'user' }" v-on="click: showPane('user')">セイセキ</li><!--
      --><li class="tab-item" v-class="{ 'is-active': activePane === 'input' }" v-on="click: showPane('input')">トウロク</li><!--
      --><li class="tab-item" v-class="{ 'is-active': activePane === 'about' }" v-on="click: showPane('about')">ヘルプ</li><!--
    --></ul>

    <div v-show="activePane === 'record'" class="view-record">
      <div id="js-view-graph" class="graph-wrap">
        <canvas class="graph" v-el="graph" v-attr="width: canvasW, height: canvasH"></canvas>
        <div v-show="records.length === 0" class="graph-cover">
          <p class="wrap">まだデータが<span class="ft-ika">トウロク</span>されてないぞ！</p>
        </div>
      </div>

      <div id="js-view-list">
        <ul class="record-list wrap" v-show="recordsList.length !== 0">
          <li class="record-list-item" v-repeat="item in recordsList | orderBy 'id' -1">
            <div>{{item.id}}</div>
            <div>
              {{item.rule}} in {{item.stage}}
            </div>
            <div>
              {{item.result}} <span class="ft-ika">-</span> {{item.rate}}
            </div>
            <div>
              {{item.missmatch ? 'マッチング事故' : ''}}
            </div>
            <div class="del-wrap">
              <span class="del-mark" v-on="click: onClickDel(item.idx)">[このキロクをサクジョ]</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div v-show="activePane === 'user'" class="view-user">
      <div id="js-view-user">
        <table class="user-stat wrap">
          <tbody>
            <tr>
              <td>最高ウデマエ</td>
              <td>{{bestRate}}</td>
            </tr>
            <tr>
              <td>勝率</td>
              <td>{{winRate}}%</td>
            </tr>
            <tr>
              <td class="fs-s">マッチング事故率</td>
              <td>{{missmatch}}%</td>
            </tr>
            <tr>
              <td>連勝記録</td>
              <td>{{winStreak}}連勝</td>
            </tr>
            <tr>
              <td>連敗記録</td>
              <td>{{loseStreak}}連敗</td>
            </tr>
            <tr>
              <td>KO勝ち率</td>
              <td>{{koWinRate}}%</td>
            </tr>
            <tr>
              <td>KO負け率</td>
              <td>{{koLoseRate}}%</td>
            </tr>
            <tr>
              <td>得意なルール</td>
              <td>{{goodRule || '-'}}</td>
            </tr>
            <tr>
              <td>苦手なルール</td>
              <td>{{badRule || '-'}}</td>
            </tr>
            <tr>
              <td>得意なステージ</td>
              <td>{{goodStage || '-'}}</td>
            </tr>
            <tr>
              <td>苦手なステージ</td>
              <td>{{badStage || '-'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div v-show="activePane === 'input'" class="view-input">
      <div id="js-view-input">
        <ul class="input-wrap wrap">
          <li class="input-item">
            <label v-repeat="rules">
              <input name="rule" type="radio" v-model="rule" value="{{$key}}">{{$value}}
            </label>
          </li>
          <li class="input-item">
            <select v-model="stage" options="stages"></select>
          </li>
          <li class="input-item">
            <label v-repeat="results">
              <input name="result" type="radio" v-model="result" value="{{$key}}">{{$value}}
            </label>
          </li>
          <li class="input-item">
            <label>
              <input type="checkbox" v-model="missmatch" v-attr="disabled: isResultWin">マッチング事故
            </label>
          </li>
          <li class="input-item">
            <select v-model="rate_rank" options="rates"></select>
            <input v-model="rate_score" type="number" min="0" max="100">
          </li>
        </ul>
        <button v-show="!showSetReaction" class="set-button ft-ika" v-on="click: onClickSet">トウロク！</button>
        <button v-show="showSetReaction" disabled class="reaction-button ft-ika">トウロクカンリョウ！</button>
      </div>
    </div>

    <div v-show="activePane === 'about'">
      <h2 class="ft-ika">つかいかた</h2>
      <div class="wrap">
        <p>試合が終わったら結果を<span class="ft-ika">トウロク</span>するだけだ！</p>
        <p>データは<span class="ft-ika">キロク</span>や<span class="ft-ika">セイセキ</span>から見れるぞ！</p>
      </div>

      <h2 class="ft-ika">これナニ？</h2>
      <div class="wrap">
        <p>にわかガチ勢の<a href="https://twitter.com/leader22" target="_blank">@leader22</a>が、ウデマエの上下を可視化するために個人的に作ったものだ！</p>
        <p>なんか変な動きするとか動かないとか、報告すれば直るかもしれないぞ！</p>
        <p>もしくは<a href="https://github.com/leader22/ika-rchive" target="_blank">プルリクエスト</a>だ！</p>
        <p>フォントは<a class="ft-ika" href="http://aramugi.com/?page_id=807" target="_blank">イカモドキ</a>をお借りした！イカしてるぜ！</p>
      </div>

    </div>

    <footer class="footer">&copy; 2015 <a href="https://twitter.com/leader22" target="_blank">leader22</a></footer>
  </div>

  <script src="./dist/script.js"></script>
</body>
</html>
