.view-intro,
.view-app {
  position: relative;
  height: auto;
  min-height: 100%;
  padding-bottom: 40px;

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5em 0;
    text-align: center;
    font-size: .8em;
  }
}

.view-intro {
  .intro-button {
    @extend %button;
    margin: 1em auto;
  }
}

.view-app {
  .tab {
    text-align: center;
    margin: 1em auto .5em;
    font-size: 1.5em;
  }
  .tab-item {
    display: inline-block;
    cursor: pointer;
    width: 24%;

    &:active {
      transform: scale(1.1);
    }
  }
  .is-active {
    color: #77EF00;
  }
}
