.view-intro,
.view-app {
  position: relative;
  height: auto;
  min-height: 100%;
  padding-bottom: 40px;

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5em 0;
    text-align: center;
    font-size: .8em;
  }
}

.view-intro {
  .intro-button {
    @extend %button;
    margin: 1em auto;
  }
}

.view-app {
  .tab {
  }
  .tab-item {
    width: 25%;
  }
}
