%button {
  display: block;
  width: 300px;
  max-width: 300px;
  line-height: 40px;
  height: 40px;
  margin: 0 auto;
  border: none;
  background-color: #FF6E00;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
  &:active {
    transform: translateY(1px);
  }
}

%content {
  margin: 1em auto;
  width: 90%;
}

@font-face {
  font-family: 'ikamodoki';
  src: url('../font/ikamodoki1_0.ttf') format('truetype');
}

.ft-ika {
  font-family: 'ikamodoki';
  vertical-align: text-bottom;
  padding: 0 2px;
}

.ft-emp {
  font-weight: 900;
}

.fs-s {
  font-size: .85em;
}

.wrap {
  padding: .5em;
  margin: 1em;
  background-color: rgba(0, 0, 0, .5);
  border-radius: .5em;
}

.note {
  margin: .25em 1em;
  font-size: .5em;
}

.list {
  list-style: square inside;
  padding: .25em 1em;

  li+li { margin-top: .5em; }
}
