%button {
  display: block;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  border: none;
  background-color: #FF6E00;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;

  &:hover {
    opacity: .8;
  }
  &:active {
    transform: translateY(1px);
  }
}

%content {
  margin: 1em auto;
  width: 90%;
}

@font-face {
  font-family: 'ikamodoki';
  src: url('../font/ikamodoki1_0.ttf') format('truetype');
}

.ft-ika {
  font-family: 'ikamodoki';
  vertical-align: text-bottom;
  padding: 0 2px;
}
