.view-input {

  .input-wrap {
    @extend %content;
    text-align: center;
  }

  .input-item {
    & + .input-item {
      margin-top: 1em;
    }
  }

  input[type=radio],
  input[type=checkbox] {
    position: relative;
    top: -0.2em;
    margin-right: .2em;
  }

  select {
    font-size: 1em;
    border-radius: 1px;
    border: none;
  }

  input[type=number] {
    width: 60px;
    font-size: 1em;
    text-align: center;
    padding: .25em .5em;
    border: none;
  }

  label {
    margin: 0 .1em;
  }

  .stage-select {
    & + .stage-select { margin-top: .5em; }

    select {
      margin-left: 1em;
    }
  }

  .set-button,
  .wait-button,
  .reaction-button {
    @extend %button;
    margin: 1em auto;
  }
  .wait-button {
    opacity: .8;
  }
  .reaction-button {
    background-color: #77EF00;
  }
}
