.view-input {

  .input-wrap {
    @extend %content;
    text-align: center;
  }

  .input-item {
    & + .input-item {
      margin-top: 1em;
    }
  }

  input[type=radio],
  input[type=checkbox] {
    position: relative;
    top: -0.2em;
    margin-right: .2em;
  }

  select {
    font-size: 1em;
    border-radius: 1px;
  }

  input[type=number] {
    font-size: 1em;
    text-align: center;
  }

  label {
    margin: 0 .1em;
  }

  .set-button,
  .reaction-button {
    @extend %button;
    margin: 1em auto;
  }
  .reaction-button {
    background-color: #77EF00;
  }
}
