.view-input {

  .input-wrap {
    @extend %content;
  }


  .input-item {
    text-align: center;

    & + .input-item {
      margin-top: .75em;
    }

    &.m-title {
      font-size: .75em;
      text-align: left;
      cursor: pointer;
    }
  }

  input[type=radio],
  input[type=checkbox] {
    margin-right: .2em;
  }

  select {
    font-size: 1em;
    border-radius: 1px;
    border: none;
  }

  input[type=number] {
    width: 60px;
    font-size: 1em;
    text-align: center;
    padding: .25em .5em;
    margin-left: .5em;
    border: none;
  }

  label {
    margin: 0 .2em .5em;
    display: inline-block;
  }

  .stage-select {
    & + .stage-select { margin-top: .5em; }

    select {
      margin-left: 1em;
    }
  }

  .set-button,
  .wait-button,
  .reaction-button {
    @extend %button;
    margin: 1em auto;
  }
  .wait-button {
    opacity: .8;
  }
  .reaction-button {
    background-color: #77EF00;
  }

  .report {
    text-align: center;
    font-size: .8em;
    margin-bottom: -1em;
  }
}
