.view-record {

  .graph-wrap {
    position: relative;
    text-align: center;
  }

  .graph-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    margin: auto;
    font-weight: bold;
  }

  .record-list {
    @extend %content;
  }
  .record-list-item {
    & + .record-list-item {
      margin-top: 1em;
      padding-top: 1em;
      border-top: 1px solid rgba(255,255,255,0.8);
    }
  }
  .record-list-item-spacer {
    height: .5em;
    border: none;
  }

  .ctrl-wrap {
    font-size: .5em;
    text-align: right;
  }
  .mod-mark,
  .del-mark {
    cursor: pointer;
    text-decoration: underline;
  }

  .mod-wrap {
    text-align: center;
    background-color: #000;
    margin: 1em auto;

    .set-button { width: 100%; }
  }
}
