.view-record {

  .graph-wrap {
    position: relative;
    text-align: center;
  }

  .graph-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    margin: auto;
    font-weight: bold;
  }

  .record-list {
    margin: 1em auto;
    width: 90%;
  }
  .record-list-item {
    & + .record-list-item {
      margin-top: 1em;
    }
  }

  .del-wrap {
    text-align: right;
  }
  .del-mark {
    cursor: pointer;
    text-decoration: underline;
    font-size: .5em;
  }
}
