* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #000;
  color: #fff;
}

html {
  line-height: 1.2;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", sans-serif;
}

[v-cloak] {
  display: none;
}

h1 {
  padding-top: .5em!important;
  text-align: center;
}

h2 {
  margin: .25em auto;
  text-align: center;
}

p {
  margin: .25em 1em;
}

a {
  color: #fff!important;
}

ul {
  list-style: none;
}
