* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #000;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

html {
  line-height: 1.2;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, Roboto, "Droid Sans", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", sans-serif;
}

h1, h2 {
  text-align: center;
}

h1 {
  padding-top: .5em!important;
  font-size: 1.8em;
  text-shadow: 1px 1px 1px #000, 3px 3px 1px #1AD118;
}

h2 {
  margin: .25em auto;
  text-shadow: 1px 1px 1px #000;
}

p {
  margin: .25em 1em;
}

a {
  color: #1AD118;
}

strong {
  color: #ED2772;
}

ul {
  list-style: none;
}
