.view-user {

  .user-stat {
    @extend %content;
    line-height: 1.5em;

    td {
      width: 50%;
    }

    td + td {
      text-indent: .5em;
    }
  }

  .tweet-button {
    @extend %button;
    margin: 1em auto;
    background-color: #50ABF1;
  }
}
